Explique a ação dos blocos de comandos abaixo.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
dado = pd.read_excel("imoveis2.xlsx","Sheet1")

Resposta:

In [2]:
dado.tail(4)

          bairro      preco  quartos     m2           pm2
3782    Asa Sul   6000000.0        4  509.0  11787.819253
3783    Asa Sul   6508762.0        4  393.9  16523.894389
3784   Sudoeste   6600000.0        5  520.0  12692.307692
3785  Asa Norte   7500000.0        5  680.0  11029.411765

Resposta:

In [3]:
dado.head(5)

       bairro     preco  quartos      m2          pm2
0   Noroeste   150000.0        3  117.00  1282.051282
1   Sudoeste   175000.0        1   30.00  5833.333333
2  Asa Norte   175000.0        2   78.31  2234.708211
3  Asa Norte   180000.0        1   29.00  6206.896552
4  Asa Norte   190000.0        1   31.00  6129.032258

Resposta:

In [4]:
dado.dtypes

bairro      object
preco      float64
quartos      int64
m2         float64
pm2        float64
dtype: object

Resposta:

In [5]:
dado.ndim

2

Resposta:

In [6]:
dado.shape

(3786, 5)

Resposta:

In [ ]:
dado.size

Resposta:

In [ ]:
dado.axes

Resposta:

In [ ]:
dado.describe()

Resposta:

In [ ]:
dado.plot('m2','pm2',kind='scatter' )
plt.show()

Resposta:

In [ ]:
dado.m2.plot(kind='hist' )
plt.show()

Resposta:

In [ ]:
dado.m2.plot(kind='box' )
plt.show()

In [ ]:
grupo = dado['m2'].groupby([dado['bairro'],dado['quartos']])

Resposta:

In [7]:
grupo.count()

NameError: name 'grupo' is not defined

Resposta:

In [ ]:
?dado.mean

Resposta:

In [ ]:
m2_classe = pd.cut(dado.m2,15)
dado['m2'].groupby(m2_classe).count()

Resposta:

In [ ]:
dado.pivot_table(['m2'],columns='bairro',index='quartos', aggfunc='count', margins=True)

Resposta: